body {
  margin: 0;
  padding: 0;
  background: rgb(27, 34, 66);
  background: linear-gradient(
    90deg,
    rgba(27, 34, 66, 1) 5%,
    rgba(6, 62, 92, 1) 100%
  );
}

.sun {
  background: rgb(246, 220, 66);
  background: linear-gradient(
    90deg,
    rgba(246, 220, 66, 1) 5%,
    rgba(252, 176, 69, 1) 100%
  );
  text-align: center;

  padding: 0;
  display: block;
  flex: 1;
}
.rain {
 
  text-align: center;

  padding: 0;
  display: block;
  flex: 1;
}

.App {
  text-align: center;

  padding: 0;
  display: block;
  flex: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
